<nav class="navbar navbar-expand-md navbar-light shadow-sm header-container">
  <%= link_to root_path, class: "navbar-brand", target: '_blank' do %>
    <%= image_tag "/images/logo.png" %>
  <% end %>
  
  <div class="header-dashboard">
    <%= link_to 'Dashboard', dashboard_path %>
  </div>
</nav>