<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm fixed-bottom mt-5">
  <!--<nav>タグにfixed-bottomクラス: ページの下部にフッターを固定-->
  <%= link_to root_path, class: "navbar-brand mx-auto" do %>
    <!--mx-autoクラス:「Samazon」のロゴを中央寄せ-->
    <%= image_tag "/images/logo.jpg", class: "img-fuild" %>
  <% end %>
</nav>