<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm fixed-bottom mt-5 d-inline">
  <%# fixed-bottom: ページの下部にフッターを固定 %>
  <div class="d-flex">
    <div class="col"></div>
    <%= link_to root_path, class: "col d-flex justify-content-center" do %>
      <%= image_tag "/images/logo.png", class: "footer-logo-image img-fuild" %>
    <% end %>
  
    <div class="col footer-dashboard">
      <%= link_to 'Dashboard', dashboard_path, target: '_blank' %>
    </div>
  </div>
</nav>