<%# サイドバー %>

<div class="container">
  <% major_category_names.each do |major_category_name| %>
    <% if major_category_name == "ミュージック" %>
      <h3 class="sp-sidebar-text sidebar-line"><span class="music"></span><%= major_category_name %></h3>
    <% elsif major_category_name == "映画・テレビ" %>
      <h3 class="sp-sidebar-text sidebar-line mt-3"><span class="movie"></span><%= major_category_name %></h3>
    <% elsif major_category_name == "アナログレコード" %>
      <h3 class="sp-sidebar-text sidebar-line mt-3"><span class="format"></span><%= major_category_name %></h3>
    <% end %>
    
    <% categories.each do |category| %>
      <% if category.major_category_name == major_category_name %>
        <label class="sidebar-category-label">
          <%= link_to category.name, products_path(category: category.id) %>
        </label>
      <% end %>
    <% end %>
  <% end %>
</div>